<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    
    
    <div class="container-fluid">
        
        <div class="px-lg-5">
            <h3>Estadisticas Actuales</h3>
            <div class="input-group">
                <span class="input-group-text">infección</span>
                <input type="text" aria-label="First name" class="form-control" readonly>
                <span class="input-group-text">Desorientación</span>
                <input type="text" aria-label="Last name" class="form-control" readonly>
                <span class="input-group-text">Violencia</span>
                <input type="text" aria-label="Last name" class="form-control" readonly>
                <span class="input-group-text">Desmayo</span>
                <input type="text" aria-label="Last name" class="form-control" readonly>
                <span class="input-group-text">Transformación</span>
                <input type="text" aria-label="Last name" class="form-control" readonly>
            </div>
            <hr>
            <h2>Registro de Zombies</h2>
            <div class="row" id="">
                <% if (lista_zombies.length > 0) { %>
                    <% for (let zombie of lista_zombies) { %>
                <!-- List-->
                        <%= zombie.NombreCompleto %>
                <!-- End -->
                    <% } %>
                <% } else { %>
                    <h3>GRANDIOSO! <br> No hay zombies por el momento</h3>
                <% } %>
            </div>
        </div>

    </div>
    <%- include('includes/Footer.ejs') %>
    <!-- <%- include('includes/scriptSearch.ejs') %> -->
</body>
</html>